<h1>Bienvenue ! Confirmez votre adresse email</h1>

<p>
    Pour finaliser la création de votre compte, merci de confirmer votre adresse email en cliquant sur le lien ci‑dessous :<br><br>
    <a href="{{ signedUrl|raw }}" style="font-weight: bold; color: #4a6cf7;">Confirmer mon adresse email</a>
</p>

<p>
    Ce lien restera valide pendant :<br>
    <strong>{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}</strong>
</p>

<p>
    Merci et à très bientôt !
</p>